#left-ear {
  transform: translate(0, 0);
  transition: all .5s linear;
}

#bear:hover #left-ear {
  transform: translate(0, -.6em);
}

#right-ear {
  transform: translate(0, 0);
  transition: all .5s linear;
}

#bear:hover #right-ear {
  transform: translate(0, -.6em);
}

#left-eye {
  animation: eye-move 3s ease infinite;
}

#right-eye {
  animation: eye-move 3s ease infinite;
}

@keyframes eye-move {

  0% {
    transform: translateX(-.5em);
  }


  50% {
    transform: translateX(.5em);
  }

  100% {
    transform: translateX(-.5em);
  }

}
